on:
  issues:
    types: [opened, edited]
  pull_request:
    types: [opened, edited]

  push:
    paths:
      - .github/workflows/issue-pr-create.yml
  
permissions:
  contents: read

jobs:
  notify:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
        - name: Harden the runner (Audit all outbound calls)
          uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
          with:
            egress-policy: audit

        - env:
            CONTEXT: ${{ toJSON(github.event) }}
          run: |
            echo "$CONTEXT"
           

        - uses: devops-actions/issue-comment-tag@ec5e2b8d5f031330ff19bf4ee5b5252b1176995a # v0.1.8
          with:
            team: ${{ vars.TAG_TEAM }}
            issue: ${{ github.event.issue.number }}
            pr: ${{ github.event.pull_request.number }}
            owner: ${{ github.repository_owner }}
            repo: ${{ github.repository }}
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
