on:
  issues:
    types: [opened, edited]
  pull_request:
    types: [opened, edited]

  push:
    paths:
      - .github/workflows/issue-pr-create.yml
  
permissions:
  contents: read

jobs:
  notify:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
        - name: Harden the runner (Audit all outbound calls)
          uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
          with:
            egress-policy: audit

        - env:
            CONTEXT: ${{ toJSON(github.event) }}
          run: |
            echo "$CONTEXT"
           

        - uses: devops-actions/issue-comment-tag@6dbf2b1d509b1255e744349f7b0d5c1f723b22ef # v0.1.9
          with:
            team: ${{ vars.TAG_TEAM }}
            issue: ${{ github.event.issue.number }}
            pr: ${{ github.event.pull_request.number }}
            owner: ${{ github.repository_owner }}
            repo: ${{ github.repository }}
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
