name: Test local action
on:
  push:

  pull_request:

permissions:
  contents: read
  
jobs:
  test-local-action:
    name: Test with normal setup
    runs-on: ubuntu-latest
    permissions:
      # needed for the checkout action
      contents: read
      # needed to annotate the files in a pull request with comments
      pull-requests: write
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      
      - name: Run the local action from the checked out branch
        id: action-lint
        uses: ./
        continue-on-error: true

      - name: Check for no reported errors
        if: steps.action-lint.outcome=='success'
        run: |
          echo "Error in 'action-lint' step, expected a failure status, but got success"
          # fail the job so reporting can pick it up
          exit 1

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: always()
        with:
          name: actionlint-results-local
          path: ${{ steps.action-lint.outputs.results-file }}

      - name: Test output file and expected contents
        if: always()
        shell: pwsh
        env:
          RESULTFILE: ${{ steps.action-lint.outputs.results-file }}
        run: |
          echo "Results file is [$env:RESULTFILE]"
          $result = $(./.github/workflows/check-resultsfile.ps1 -resultsFilePath $env:RESULTFILE)

          echo "Status: $($result)"
    
  test-action-skip-failure:
    name: Test with skip failure set on the action
    runs-on: ubuntu-latest
    needs: test-local-action
    permissions:
      # needed for the checkout action
      contents: read
      # needed to annotate the files in a pull request with comments
      pull-requests: write
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      
      - name: Run the local action from the checked out branch
        id: action-lint
        uses: ./
        with: 
          fail-on-errors: "false"

      - name: Check for no reported errors
        if: steps.action-lint.outcome=='success'
        run: |
          echo "Error in 'action-lint' step, expected a success status, which matches expectations"
      
      - name: Check for expected errors
        if: always() && steps.action-lint.outcome=='failure'
        run: |
          echo "Failure status was not expected"

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: always()
        with:
          name: actionlint-results-failure
          path: ${{ steps.action-lint.outputs.results-file }}

      - name: Test output file and expected contents
        if: always()
        shell: pwsh
        env:
          RESULTFILE: ${{ steps.action-lint.outputs.results-file }}
        run: |
          echo "Results file is [$env:RESULTFILE]"
          echo "-------------"
          cat $env:RESULTFILE
          echo "-------------"
          ./.github/workflows/check-resultsfile.ps1 -resultsFilePath $env:RESULTFILE
