name: Example of errors
on:
  workflow_dispatch:
    inputs:
      example-input:
        description: 'Example input'
        required: false
        default: 'example'
  
permissions:
  contents: read

jobs:        
  job-with-errors:
    runs-on: ubuntu-latest
    needs: test-local-action
    steps:
     - name: Harden the runner (Audit all outbound calls)
       uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
       with:
         egress-policy: audit

     - name: Non existing output
       id: fake-output
       run: |
        echo "Let's echo an output that does not exist, should fail the check:"
        echo "Output that does not exist: ${{ needs.test-local-action.outputs.fake-output }}"

     - name: Non existing needs
       id: fake-needs-setup
       run: |
        echo "Let's echo an output that does not exist, should fail the check:"
        echo "Output that does not exist: ${{ needs.test-job.outputs.fake-output }}" 

     - name: Non existing secret
       id: fake-secret
       run: |
        echo "Let's echo a secret that does not exist, would be nice if this would fail the check:"
        echo "Secret that does not exist: ${{ secrets.fake-secret }}"

     - name: Bash injection
       run: |
        echo "Let's echo a an input value that should fail the check:"
        echo "User input should not be trusted: ${{ inputs.example-input }}"
        export UserInput=${{ inputs.example-input }}
